@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-nunito text-[0.9rem] font-normal leading-6 text-[#6c757d] bg-[#fafbfe];
  }
  input:focus,
  textarea:focus,
  select:focus {
    @apply outline-none;
  }
  td {
    @apply truncate text-wrap;
  }
}

@layer components {
  .container {
    @apply w-full max-w-[95%] px-[12px] mx-auto;
  }
  .leftNavMenu {
    @apply w-full flex items-center justify-start py-2 hover:text-cyan-500 transition gap-4 px-5 text-lg;
  }
  .leftNavItem {
    @apply inline-block pl-16 w-full py-2 hover:text-cyan-500 hover:bg-slate-700 transition text-lg;
  }
  .shadowbox {
    @apply shadow-shadow1 bg-white rounded-md;
  }
  .btn {
    @apply cursor-pointer border-[1px] border-solid border-gray-300 p-3 text-white hover:bg-white hover:text-black transition;
  }
  .btnAdd {
    @apply cursor-pointer border-[1px] border-solid border-gray-300 p-2 transition ease-linear text-white bg-green-600 hover:bg-green-700;
  }
  .input {
    @apply block w-full p-2 border-[1px] border-slate-300 rounded-md;
  }
}
